body
{
background-color:black;
}
.ab
{
	color:white;
	text-align:center;
}
   .a
	{
	color:white;
	text-align:center;
	}
	.b
	{
	color:white;
	text-align:center;
	}
	body
	{
	background-color:black;
	}
	.c
	{
	text-align:center;
	}
	.d
	{
	color: #27A776;
	}
	.e
	{
	color:white;
	}
	.f
	{
	color:white;
	}
	.g
	{
	color:white;
	}
	.h
	{
	color:white;
	text-align:center;
	}
	.i
	{
	height:30px;
	width:450px;
	}
	
.container-fluid .row .img-rounded:hover {
	color: #fff;
  transform: rotate(360deg);
  transition: .5s;
 
   
}


form
{
	position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
	text-align:center;
	border:solid 1px;
	border-color:white;
	height:250px;
	width:100%;
}
b
{
	color:white;
}

.frm
{
	background-image:url("https://img.freepik.com/premium-vector/network-connection-background-abstract-style_23-2148875738.jpg?size=626&ext=jpg&ga=GA1.1.1412446893.1704412800&semt=ais");
	background-repeat:no-repeat;
	background-size: cover;
}
	
	
